.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #0a192f;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .header-nav {
    display: flex;
    gap: 1rem;  
  }

 
  .header-link {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    transition: color 0.3s;
  }
  
  .header-link:hover {
    color: #90e0ef;
  }

  @media (max-width: 768px) {

    .header{
        display: flex;
        justify-content: start;
    }

    .hamburger{
        margin-bottom: 20px;
    }
    
    .theme-toggle {
        background-color: white;
        color: black;
        border: 1px solid black;
        border-radius: 8px;
        padding: 0.5rem;
        cursor: pointer;
      }

    .header-nav {
      flex-direction: column;
      position: absolute;
      top: 50px;
      right: 0;
      background-color: #0077b6;
      width: 100%;
      display: none;
    }

    .header-nav .header-link{
       padding-top: 4px;
       padding-left: 20px;
    }
  
    .header.open .header-nav {
      display: flex;
    }
  
    .hamburger {
      display: block;
      font-size: 2rem;
      cursor: pointer;
      color: white;
    }
  }
  
  @media (min-width: 769px) {
    .hamburger {
      display: none;
    }
    
  }
  